
/code\ipojo-editor\metadata.ipojo.editor/bin
/code\ipojo-editor\ipojo-model/bin
/code\felix-eclipse\au.com.forge.felix.eclipse.launch_configuration/bin
/code\felix-eclipse\au.com.forge.felix.eclipse_pde_launcher/bin
