<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="liglab.imag.fr.metadata.ui.editor.MetadataEditor"
            default="false"
            icon="icons/component.png"
            id="metadata.ipojo.editor"
            name="iPOJO Metadata Editor">
         <contentTypeBinding
               contentTypeId="metadata.ipojo.editor.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-names="metadata.xml"
            id="metadata.ipojo.editor.content-type"
            name="ipojo metadata"
            priority="normal">
      </content-type>
   </extension>

   <extension
         id="icasa.env.marker"
         name="iCasa Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="component">
      </attribute>
   </extension>
   
   <!--
      
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="metadata.ipojo.editor.general"
            class="liglab.imag.fr.metadata.ui.editor.preferences.PojoEditorPreferencePage"
            id="metadata.ipojo.editor.deploymentPage"
            name="iPojo Preferences">
      </page>
   </extension>
   

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="liglab.imag.fr.metadata.ui.editor.handlers.DeploymentBundleHandler"
            id="metadata.ipojo.editor.deployment.command"
            name="Bundle Deployment">
      </command>
      <command
            defaultHandler="liglab.imag.fr.metadata.ui.editor.handlers.CleanApplicationsHandler"
            id="metadata.ipojo.editor.cleaning.command"
            name="Clean Applications Directory">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="iCasa" id="metadata.ipojo.editor.menu3">
            <command
                  commandId="metadata.ipojo.editor.deployment.command"
                  icon="icons/db_add.png"
                  label="iCasa Bundle Deployment"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.jdt.core.IJavaProject">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="metadata.ipojo.editor.cleaning.command"
                  icon="icons/db_remove.png"
                  label="Clean Applications Directory"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and">
                        <instanceof
                              value="org.eclipse.jdt.core.IJavaProject">
                        </instanceof></iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   

   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="liglab.imag.fr.metadata.ui.editor.preferences.PojoEditorPreferenceInitializer">
      </initializer>
   </extension>
   
    --> 

</plugin>
