<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.apache.felix.ipojo"
            class="org.apache.felix.FelixPackage"
            genModel="model/ipojo-core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="xml"
            class="org.apache.felix.util.FelixResourceFactoryImpl"/>
   </extension>

</plugin>
